<div class="container">

    <h3>Sobre los autores en esta biblioteca digital</h3>

    <p>La Biblioteca Digital de Sistedes facilita el acceso y difusión de los trabajos publicados en las actas de los congresos de Sistedes (JCIS, JISB y PROLE) &mdash;entre
        otros documentos&mdash; mediante la navegación del repositorio digital. Igualmente, permite la realización de búsquedas por diferentes criterios, así como la exportación de
        metadatos y citas bibliográficas de los documentos archivados.</p>
    
    <p>La publicación de las actas de los congresos de Sistedes (JCIS, JISB y PROLE) se realiza de forma semiautomática a partir de las bases de datos del sistema de gestión de
        conferencias empleado en cada edición (típicamente, <a href="https://easychair.org/">EasyChair</a>). Es por ello de vital importancia que los autores indiquen de forma
        correcta en dicho sistema cómo desean que aparezcan sus firmas, afiliciaiones y direcciones de contacto.</p>

    <p>La Biblioteca Digital de Sistedes tiene como objetivo ofrecer una biblioteca con datos de calidad y sin redundancias. Por ello, se trabaja activamente en mantener un registro único
        para cada autor que haya publicado en las jornadas Sistedes (o en cualquiera de sus series de publicaciones). Para ello, cada vez que se inserta una nueva publicación en el repositorio,
        se hace un intento basado en heurísticas para determinar si el autor ya ha publicado previamente antes de dar de alta un nuevo autor. Estas heurísticas se basan en el nombre de firma
        del autor, el correo electrónico y la afiliación. Dado que todos ellos pueden variar notablemente a lo largo de la vida académica y profesional &mdash;por el uso de abreviaturas,
        por cambiar el nombre de firma o por optar por el uso de apellidos compuestos, o por un cambio de institución&mdash; es posible que se identifique erróneamente una autoría.
        En todo caso, y con el objetivo de mantener un registro completo, todos los autores mantendrán un registro con los nombres alternativos empleados, así como de correos electrónicos y
        afiliaciones empleados, tanto pasados como presentes.</p>

    <p>Por este motivo, igualmente, el nombre de los autores que aparezca al navegar esta biblioteca  puede variar en el tiempo si éstos cambian el nombre de firma. Nótese, no obstante,
        que las citas bibliográficas &mdash;ya sean textuales o en BibTeX&mdash; siempre se mostrarán empleando el nombre con el que se firmó en el momento de la publicación.</p>
    
    <p>No obstante, <strong>si eres autor de un trabajo publicado en esta biblioteca y detectas que tu autoría no ha sido correctamente identificada</strong> &mdash;porque ha sido atribuída
        a otro autor o autora, o porque prefieres que tu nombre visible se corresponda con otra variante de firma&mdash; no dudes en contactarnos a través de nuestro
        <a href="/info/feedback">formulario de contacto</a>.</p>

    <h3>Derechos de autoría</h3>

       
    <p>El almacenamiento de artículos en una biblioteca digital requiere de una adecuada gestión de los derechos de autoría de los trabajos publicados.
        Según la Ley de Propiedad Intelectual española, los autores tienen el copyright exclusivo de sus obras &mdash;esto es, todos los derechos reservados&mdash;
        salvo indicación en contra. Es por ello que, para cualquier uso de sus trabajos &mdash;aunque sea su mero almacenamiento y difusión&mdash;,
        es necesario el permiso explícito de los autores y autoras.</p>
        
    <p>Acorde a los principios de la <a href="https://creativecommons.org/freeworks/">Cultura Libre</a> y buscando la protección de los derechos de autoría, la Biblioteca Digital
        de Sistedes siempre ha promovido el uso de licencias libres <a href="https://creativecommons.org/">Creative Commons</a>. <strong>Hasta el año 2022</strong>, la Biblioteca Digital 
        ha permitido la selección de diferentes licencias <a href="https://creativecommons.org/">Creative Commons</a> para la publicación de las actas de las jornadas Sistedes &mdash;e
        incluso ha permitido la reserva de todos los derechos mediante formularios de cesión de derechos que los autores debían cumplimentar&mdash;.

    <p><strong>Desde 2023</strong>, y con el objetivo de simplificar la gestión de derechos, la Biblioteca Digital de Sistedes promueve una única licencia 
        &mdash;<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.es">Creative Commons Atribución-NoComercial-SinDerivadas 4.0 Internacional (CC BY-NC-ND 4.0)</a>&mdash;
        para los trabajos publicados incluidos en este repositorio. La licencia CC BY-NC-ND 4.0 permite la copia y redistribución de los trabajos licenciados, y prohíbe la modificación,
        la creación de obras derivadas, y el uso o explotación comercial. Igualmente, requiere una mención explícita a la autoría y a los derechos y obligaciones de la licencia. La 
        licencia CC BY-NC-ND 4.0 no limita los derechos de los autores sobre sus obras &mdash;al margen de la disponibilidad de éstas an la Biblioteca Digital de Sistedes&mdash; 
        en ningún caso.</p>

    <h4>Plantillas de documentos para autores</h4>

    <p>Para asegurar que los derechos de publicación y redistribución de las obras aquí incluidas son informados de manera adecuada, todas las publicaciones añadidas a la Biblioteca
        Digital de Sistedes de 2023 en adelante deben contar con una marca de agua que indica la licencia aplicable.</p>
    
    <p>Para facilitar el trabajo de autores y autoras, la Biblioteca Digital proporciona a través de su repositorio en <a href="https://github.com/sistedes/sistedes.template">GitHub</a>
        plantillas e instrucciones para la producción de documentos con la marca de agua necesaria. Mediante estas plantillas, la Biblioteca Digital Sistedes consigue, además,
        dar uniformidad de formato a sus publicaciones.</p>

    <h4>¿Dudas?</h4>
        
    <p>Si tienes cualquier duda sobre la autoría y los derechos de autoría en la Biblioteca Digital de Sistedes, dispones de nuestro <a href="/info/feedback">formulario de contacto</a>.</p>

</div>
  