<div class="container">

    <h3>Derechos de autoría y plantillas</h3>

    <p>La Biblioteca Digital de Sistedes facilita el acceso y difusión de los trabajos publicados en las actas de los congresos de Sistedes (JCIS, JISB y PROLE) &mdash;entre
        otros documentos&mdash; mediante la navegación del repositorio digital. Igualmente, permite la realización de búsquedas por diferentes criterios, así como la exportación de
        metadatos y citas bibliográficas de los documentos archivados.</p>
        
    <p>No obstante, pese a su utilidad, el almacenamiento de artículos en una biblioteca digital requiere de una adecuada gestión de los derechos de autoría de los trabajos
        publicados. Según la Ley de Propiedad Intelectual española, los autores/as tienen el copyright exclusivo de sus obras &mdash;esto es, todos los derechos reservados&mdash;
        salvo indicación en contra. Es por ello que, para cualquier uso de sus trabajos, es necesario el permiso explícito de los/as autores/as, aunque sea para su almacenamiento
        y difusión.</p>
        
    <p>Acorde a los principios de la <a href="https://creativecommons.org/freeworks/">Cultura Libre</a> y buscando la protección de los derechos de autoría, la Biblioteca Digital
        de Sistedes siempre ha promovido el uso de licencias libres <a href="https://creativecommons.org/">Creative Commons</a>. No obstante, hasta el año 2022, la Biblioteca Digital 
        ha permitido la selección de diferentes licencias <a href="https://creativecommons.org/">Creative Commons</a> para la publicación de las actas de las jornadas Sistedes &mdash;e
        incluso ha permitido la reserva de todos los derechos mediante formularios de cesión de derechos que los autores debían cumplimentar&mdash;.

    <p>No obstante, y con el objetivo de simplificar la gestión de derechos, desde 2023 la Biblioteca Digital de Sistedes promueve una única licencia 
        &mdash;<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.es">Creative Commons Atribución-NoComercial-SinDerivadas 4.0 Internacional (CC BY-NC-ND 4.0)</a>&mdash;
        para los trabajos publicados incluidos en este repositorio. La licencia CC BY-NC-ND 4.0 permite la copia y redistribución de los trabajos licenciados, y prohíbe la modificación,
        la creación de obras derivadas, y el uso o explotación comercial. Igualmente, requiere  una mención explícita a la autoría y a los derechos y obligaciones de la licencia. La 
        licencia CC BY-NC-ND 4.0 no limita los derechos de los autores sobre sus obras &mdash;al margen de la disponibilidad de éstas an la Biblioteca Digital de Sistedes&mdash; 
        en ningún caso.</p>

    <p>Para asegurar que los derechos de publicación y redistribución de las obras aquí incluidas son informados de manera adecuada, todas las publicaciones añadidas a la Biblioteca
        Digital de Sistedes de 2023 en adelante cuentan con una marca de agua que indica la licencia aplicable.</p>
    
    <p>Para facilitar el trabajo de autores y autoras, la Biblioteca Digital proporciona a través de su repositorio en <a href="https://github.com/sistedes/sistedes.cls">GitHub</a>
        plantillas e instrucciones para la producción de documentos con la marca de agua necesaria. Mediante estas plantillas, la Biblioteca Digital Sistedes consigue, además,
        dar uniformidad de formato a sus publicaciones.</p>
        
    <p>Si tienes cualquier duda sobre los derechos de autoría en la Biblioteca Digital de Sistedes, dispones de nuestro <a href="/info/feedback">formulario de contacto</a>.</p>

</div>
  