:host {
  #main-site-header {
    min-height: var(--ds-header-height);

    @include media-breakpoint-up(md) {
      height: var(--ds-header-height);
    }

    background-color: var(--ds-header-bg);

    &-container {
      min-height: var(--ds-header-height);
      
      /*
        We specify these hardcoded values to allow the upper menu to fit the width
        of the screen before the layout changes to the mobile one.
        TODO: Check font sizes and max-width, and try to use standard measures (sm, md, lg, etc.)
        Also change separation between elements rather than changing font-size
      */
      @media (max-width: 992px) {
        max-width: 100%;
      }

      @media (max-width: 830px) {
        font-size: 93%;
      }

      @media (max-width: 800px) {
        font-size: 84%;
      }

      @media (max-width: 767px) {
        font-size: 100%;
      }
    }
  }

  div#header-logo {
    height: var(--ds-header-logo-height);
    display: inline-flex;
    vertical-align: middle;
  }
  
  img.header-logo {
    height: var(--ds-header-logo-height);
  }

  button#navbar-toggler {
    color: var(--ds-header-icon-color);

    &:hover, &:focus {
      color: var(--ds-header-icon-color-hover);
    }
  }

}
