<div class="container">
    <h3>Acerca de la Biblioteca</h3>
    
    <p>El objetivo de la Biblioteca Digital de Sistedes es almacenar documentos de interés para los miembros de la sociedad Sistedes permitiendo así una mayor difusión de las contribuciones
        científico-técnicas realizadas por éstos. En particular, en la actualidad se pueden encontrar los siguientes tipos de documentos:</p>
    
    <ul>
        <li>Los trabajos publicados en las actas de los congresos JCIS, JISBD y PROLE.</li>
        <li>Los boletines de prensa de Sistedes.</li>
        <li>Las grabaciones de los seminarios organizados por Sistedes.</li>
    </ul>

    <p>Con el fin de proporcionar un servicio útil a la comunidad Sistedes, y a la vez que se protegen los intereses de los autores en cuanto a la publicación de las obras contenidas
        en la Biblioteca Digital de Sistedes, se han establecido mecanismos para flexibilizar su almacenamiento y presentación. En la Biblioteca Digital de Sistedes, los responsables
        últimos de la presentación y difusión de cada obra son los propios autores. En este sentido,  la inclusión y visualización de documentos y material en la Biblioteca Digital
        de Sistedes siempre tiene lugar con el consentimiento expreso de los autores.</p>

    <p>La organización y gestión de la Biblioteca Digital de Sistedes es responsabilidad de la Junta Directiva de Sistedes, que quien a aprobación de la Asamblea General de Sistedes
        las líneas maestras de funcionamiento de la Biblioteca Digital. No obstante, la Junta Directiva de Sistedes puede delegar las tareas de administración y dirección técnica de
        la misma en un equipo técnico especializado. En la actualidad, el equipo técnico se encuentra formado por:</p>
    
    <ul>
        <li><a href="https://abel.gomez.llana.me">Abel Gómez Llana</a> (Universitat Oberta de Catalunya)</li>
        <li><a href="http://personales.upv.es/jhcanos/">José Hilario Canós Cerdá</a> (Universitat Politècnica de València)</li>
    </ul>

    <p>Para obtener más información acerca del funcionamiento de la Biblioteca Digital de Sistedes, o cualquier otra consulta, la Biblioteca Digital pone a disposición del público 
        un <a href="/info/feedback">formulario de contacto</a>. Igualmente, pone a disposiciónla dirección de correo electrónico
        <a href="mailto:bdigital@sistedes.es">bdigital@sistedes.es</a>.</p>
    
</div>
  