<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-5">Biblioteca Digital de Sistedes</h1>
          <p class="lead">Bienvenidos a la Biblioteca Digital de Sistedes, donde ponemos a disposición de nuestros socios y del público en general los fondos documentales asociados a las actividades de nuestra sociedad.
            Además, como principal valor, esta biblioteca contiene el archivo de actas de las Jornadas Sistedes celebradas desde 2015.
            Las actas de las jornadas precedentes, que se remontan al año 1996, se irán incluyendo en la medida de lo posible.</p>
          <p class="lead">La biblioteca también incluye otros documentos de producción propia, como los boletines de noticias que publicamos desde febrero de 2018, 
            o los vídeos de nuestros seminarios, donde presentamos charlas de interés para la comunidad científica.
            Puedes encontrar todos estos documentos y vídeos en nuestro <a href="https://hdl.handle.net/11705/SISTEDES">Archivo documental</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <img alt="" [src]="'assets/sistedes/images/banner-home.jpg'"/>
  </picture>
</div>
