<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-5">Biblioteca Digital de Sistedes</h1>
          <p class="lead">Bienvenidos a la Biblioteca Digital de Sistedes. Este es el instrumento mediante el cual Sistedes pone a disposición de sus socios y del público en general los fondos documentales asociados a sus actividades.
            Como principal valor, esta biblioteca contiene el archivo de actas de las Jornadas Sistedes celebradas desde 2015.
            En un futuro, y en la medida de lo posible, el archivo incluirá las actas de las jornadas precedentes, que se remontan hasta 1996.
            Adicionalmente, la biblioteca contiene los documentos de producción propia como informes, anuarios, etc.
            Puede consultarse igualmente el Boletín de Noticias que Sistedes publica desde febrero de 2018.</p>
          <h2 class="display-6">Nuestros seminarios</h2>
          <p class="lead">Desde 2021, Sistedes celebra regularmente un ciclo de seminarios, donde se presentan charlas de interés para nuestra comunidad científica.
            Puedes encontrar las grabaciones de sus sesiones en esta biblioteca digital.</p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <img alt="" [src]="'assets/sistedes/images/banner-home.jpg'"/>
  </picture>
</div>
