<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer  id="iiif-viewer"
                        [object]="object"
                        [searchable]="iiifSearchEnabled"
                        [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>
<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
    <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ng-container *ngIf="!mediaViewer.image">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <ng-container *ngIf="mediaViewer.image">
      <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
    </ng-container>
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Autor'"
      [metadataFields]="['dc.contributor.author']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-metadata-representation-list>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher']"
      [label]="'publication.page.publisher'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.relation.ispartof']"
      [label]="'item.page.is-part-of'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.rights.license']"
      [label]="'item.page.license'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-7">
    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'publication.page.description'">
    </ds-generic-item-page-field>
    <div *ngIf="object.firstMetadataValue('dc.contributor.author') as author">
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.contributor.bio']"
        [label]="('seminar.page.bio.prefix' | translate) + author"
        [enableMarkdown]="true">
      </ds-generic-item-page-field>
    </div>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="', '"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    <div class="item-page-field">
      <ds-metadata-uri-values
        [mdValues]="getUriMetadata()"
        [label]="'item.page.uri'">
      </ds-metadata-uri-values>
    </div>
    <ds-item-page-collections [item]="object"></ds-item-page-collections>
    <div>
      <div class="btn btn-outline-primary" role="button" [routerLink]="[itemPageRoute + '/full']">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </div>
    </div>
    <div class="mt-3">
      <span>
        <div class="btn" role="button" [ngClass]="showCite ? 'btn-secondary' : 'btn-outline-secondary'" (click)="clickShowCite()">
          <i class="fas fa-quote-right"></i> {{ ( showCite ? "item.page.cite.hide" : "item.page.cite.show" ) | translate }}
        </div>
      </span>
      <span class="ml-3">
        <div class="btn" role="button"  [ngClass]="showBibtex ? 'btn-secondary' : 'btn-outline-secondary'" (click)="clickShowBibtex()">
          <i class="fas fa-quote-right"></i> {{ ( showBibtex ? "item.page.bibtex.hide" : "item.page.bibtex.show" ) | translate }}
        </div>
      </span>
      <span class="ml-3">
        <a class="btn btn-outline-secondary" role="button" [href]="bibtexFile()" download="{{ getBibId() + '.bib' }}">
          <i class="fas fa-download"></i> {{ "item.page.bibtex.download" | translate }}
        </a>
      </span>
    </div>
    <ng-container *ngIf="showCite">
      <div class="font-italic mt-3">
        {{ getCiteStrip() }}
      </div>
    </ng-container>
    <ng-container *ngIf="showBibtex">
      <div class="shadow p-3 mt-3 bg-body rounded-3">
        <pre>{{ getBibStrip() }}</pre>
      </div>
    </ng-container>
  </div>
</div>
