@import "src/app/shared/metadata-field-wrapper/metadata-field-wrapper.component.scss";
@import "src/styles/_global-styles.scss";

.nav-link {
    white-space: nowrap;
    display: inline-block;
    margin-right: 1.5rem;
}

.nav-link.active {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-link-color) !important;
    /*
    border: var(--bs-border-width) solid var(--bs-primary);
    border-radius: var(--bs-border-radius);
    */
}

.nav-link.active:after {
    content: "▶";
    scale: 75%;
    text-align: right;
    float: right;
    margin-right: -1.5rem;
}


p {
    font-style: italic;
    border-left: var(--bs-border-width) solid var(--bs-border-color);
    padding-left: 1rem;
    margin-bottom: 0rem;
}

pre {
    border-left: var(--bs-border-width) solid var(--bs-border-color);
    padding-left: 1rem;
    margin-bottom: 0rem;
}

