// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  color: var(--bs-primary);
}

.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h5 {
    font-size: 1.1rem
  }
}
::ng-deep em {
  font-weight: normal !important;
  font-style: italic !important;
}

